# Ignore everything
*
# Unignore all directories (so Git can search them)
!*/
# Unignore all files that have a dot (an extension)
!*.*
*.7z
*.accdb
*.bat
*.bin
*.dat
*.dll
*.exe
*.gguf
*.lnk
*.xlsm
*.xlsx
*.zip
llm/llama.cpp/
llm/models
llm/matchQA/data/vec_dase.bin
webscrape/get_bible_verses/output/
webscrape/get_bible_verses/input/lookup_verses.txt
temp.txt
file_utilities/list_files_by_date/search_results.txt
estim/mag/
pdf/extract_page1/out/
pdf/extract_page1/inp/
pdf/extr_bom/inp/
pdf/extr_bom/out/bom_output.csv
