# Ignore everything
*
# Unignore all directories (so Git can search them)
!*/
# Unignore all files that have a dot (an extension)
!*.*
*.7z
*.accdb
*.bat
*.bin
*.dat
*.dll
*.exe
*.gguf
*.lnk
*.xlsm
*.xlsx
*.zip
llm/llama.cpp/
llm/models
llm/matchQA/data/vec_dase.bin
llm/matchQA/data/vec_dase.bin
